<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head')%>

	<body>
		<%- partial('_partial/background')%>
		<div class="max-width-4 mx-auto">
			<div class="clearfix">
				<%- partial('_partial/sidebar')%>
				<%- partial('_partial/content')%>
			</div>
		</div>
	</body>
	<%- js('js/background.js')%>
</html>
