<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head')%>

	<body class="">
		<%- partial('_partial/loading_bar')%>
		<%- partial('_partial/progress-indicator')%>
		<div class="max-width-4 mx-auto">
			<div class="clearfix">
				<%- partial('_partial/sidebar')%>
				<%- partial('_partial/content')%>
			</div>
		</div>
	</body>
	<%- js('js/jquery.min.js')%>
	<%- js({ src: 'js/js.cookie.min.js'}) %>
	<script>
		$.Cookies = window.Cookies
	</script>
	<%- js('js/main.js')%>
</html>
