<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head')%>

	<body>
		<%- partial('_partial/progress-indicator')%>
		<%- partial('_partial/background')%>
		<div class="max-width-4 mx-auto">
			<div class="clearfix">
				<%- partial('_partial/sidebar')%>
				<%- partial('_partial/content')%>
			</div>
		</div>
	</body>
	<%- js('js/background.js')%>
	<script>
	//百度的自动推送
	(function(){
	    var bp = document.createElement('script');
	    bp.src = '//push.zhanzhang.baidu.com/push.js';
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();
	</script>
</html>
